local_config.py
*.DS_Store
*.pyc
*~
/syncdb_dumps.bak
/.pydevproject
/.idea
/t.sql
*.sw[op]
*.bak
*.log
#test
pylint.out
.coverage
api-coverage-reports/
apitest-reports/
web-checkpage-reports/
permdir_test/
dev_serve/
bower_components/
node_modules/
Gruntfile.js
talion-dist/

.*.png
*.iml
.cache-loader

/.temp
package-lock.json

